.imagem-carrossel{
	object-fit: cover;
	height: 400px;
}
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
/*	opacity:.1;
	background-color: #000000;
	right: 0%;
	left: 0%;
*/
}
.legend-div {
	opacity:.8;
    background-image: linear-gradient(265deg,#43cbff,#688cff);
}

.text-legend{
	color: 	#000000;
}
.text-second{
	color: #f0aa32;

}
.control-div {
    margin-right:5px;
    margin-left: 5px;
	margin-bottom: 5px;
}
.control-card{
	margin-right: 4px;
	margin-left: 4px;



}